KERNEL!="sr[0-9]", SUBSYSTEM!="block", GOTO="automount_end"
ACTION=="change", SUBSYSTEM=="block", NAME="%k", KERNEL=="sr[0-9]", GROUP="cdrom", RUN+="/etc/udev/scripts/udev-mount.sh change %k %E{ID_FS_LABEL}"
LABEL="automount_end"
