KERNEL!="sr[0-9]", SUBSYSTEM!="block", GOTO="automount_end"
ACTION=="change", SUBSYSTEM=="block", NAME="%k", KERNEL=="sr[0-9]", GROUP="cdrom", RUN+="/etc/udev/scripts/udev-cd-mount.sh %E{ID_FS_LABEL} %k"
LABEL="automount_end"
